<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>01-v-for遍历数组.html</title>
</head>
<body>

<div id="app">
  <ul>
<!--    遍历过程没有使用index-->
    <li v-for="name in names">{{name}}</li>
  </ul>

<!--  遍历过程中使用index-->
  <ul>
    <li v-for="(name,index) in names">{{index}}: {{name}}</li>
  </ul>
</div>
<script src="../js/vue.js"></script>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'hello ',
      names: [
        "jia", "tom", "wendy"
      ]
    }
  });
</script>
</body>
</html>